p {
    font-size: 70px;
    color: green;
    font-weight: bold;
    background: orange;
}

.container {
    text-align: center;
    list-style: none;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.spalte > div {
    height: calc(80% / 6);
    width: 90px;
    margin: 3px;
    float: right;
    border: 2px solid black;
}

.gewinner>h1 {
    font-size: 15px;
    color: darkblue;
    font-weight: bold;
    background: red;
}

.buttons {
    width: 750px;
    margin: auto;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.buttons > div {
    width: 750px;
    font-size: 50%;
    margin: 20px;
    padding-left: 13px;
}

#spielfeld {
    width: 708px;
    height: 523px;
    text-align: center;
    margin: auto;
    border: 3px solid black;
    z-index: 2;
    background-color: orange;
}

#spielfeld > .spalte {
    width: 100px;
    height: 600px;
    float: left;
}

/*#spielfeld > .spalte:hover {
    background-color: hsl(41, 69%, 35% );
    width: 100px;
    height: 525px;
    text-align: center;
    margin: 5px;
    }*/

.bg-1 {
    background-color: red;
}

.bg-2 {
    background-color: darkblue;
}
div#indicatorRed {
    width: 100px;
    height: 100px;
    top: 300px;
    border-radius: 50px;
    background-color: #ff0000;
    border: 3px solid black;
    margin: 0 auto;
}

div#indicatorBlue {
    width: 100px;
    height: 100px;
    top: 300px;
    border-radius: 50px;
    background-color: #0000ff;
    border: 3px solid black;
    margin: 0 auto;

}

p.indicatorContainerDescription {
    margin-top: 10px;
    margin-right: 35px;
    font-size: 20px;
}


div.indicatorContainer {
    width: 150px;
    height: 150px;
    text-align: center;
}


div.indicatorContainerRight {
    position: absolute;
    top: 300px;
    right: 30px;
    width: 150px;
    height: 300px;
    padding-top: 100px;
}


div.indicatorContainerLeft {
    position: absolute;
    top: 300px;
    left: 70px;
    width: 150px;
    height: 300px;
    padding-top: 100px;
    display: none;
}
.indicatorContainerDescription {
    font-size: 20px;
}





